.fondo{
    background-image: url("../img/fondo.jpeg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed
}
.v-center{
    display: flex;
    align-items: center;
}
ul{
    font-size: 1.3rem;
}
